.header {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
}
.logo {
  display: block;
  width: 110px;
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 10px;
}
.res-image {
  width: 100%;
}
.res-card {
  width: 250px;
  border: solid black 1px;
  padding: 5px;
  margin: 5px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
